@import url(http://fonts.googleapis.com/earlyaccess/alefhebrew.css);

.container {
    padding-top: 25px;
}

.navbar-nav {
    font-family: "Alef Hebrew",
        "Helvetica Neue",
        Helvetica,
        Arial,
        sans-serif;
    position: relative;
}

.jumbotron {
    font-family: "Alef Hebrew",
        "Helvetica Neue",
        Helvetica,
        Arial,
        sans-serif;

}

.bg-cover {
    text-align: center;
    font-family: "Alef Hebrew",
        "Helvetica Neue",
        Helvetica,
        Arial,
        sans-serif;
    line-height: 1.15;
    background-color: azure;
}

.display-6 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

body {
    font-family: "Alef Hebrew",
        "Helvetica Neue",
        Helvetica,
        Arial,
        sans-serif;
    background-color: rgb(231, 230, 230);

}

.logo {
    padding-right: 25px;
}

#clear {
    clear: both;
}

form {
    text-align: right;
}

footer {
    width: 100%;
    margin-top: 1%;
    margin-bottom: 10px;
    background-color: aliceblue;
    height: 50px;
    padding-top: 15px;
    text-align: center;
    font-family: "Alef Hebrew",
        "Helvetica Neue",
        Helvetica,
        Arial,
        sans-serif;
    font-weight: bold;
}

#footer p {
    font-weight: bold;
    font-family: "Alef Hebrew",
        "Helvetica Neue",
        Helvetica,
        Arial,
        sans-serif;
}