@import url(http://fonts.googleapis.com/earlyaccess/alefhebrew.css);

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    direction: rtl;
    font-family: "Alef Hebrew",
        "Helvetica Neue",
        Helvetica,
        Arial,
        sans-serif;
}

.h_title {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: black(126, 124, 124);
}

.vol_details {
    text-align: right;
    padding-right: 70px;
}

.vol_details .vol_name {
    font-weight: bold;
    font-size: 30px;
    color: rgb(233, 142, 102);
}

.vol_name_info {
    width: 93%;
    font-size: 20px;
}

.display-2 {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    font-weight: bold;
}

.display-2 a {
    text-decoration: none;
    background-color: transparent;
    color: rgba(209, 77, 20, 0.801);

}

.display-2 a:hover {
    color: rgba(129, 66, 39, 0.568);
}

body {
    background-color: rgb(231, 230, 230);
}


.display-4 {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}


#clear footer {
    width: 100%;
    margin-top: 1%;
    margin-bottom: 10px;
    background-color: aliceblue;
    height: 50px;
    padding-top: 15px;
    text-align: center;

    font-weight: bold;
}

#footer p {
    font-weight: bold;

}

#about {

    width: auto;
    text-align: right;
}

.come {
    width: auto;
    align-items: center;
}